<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">Ingresa tu ciudad</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-justify-content-center ion-align-items-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App del clima</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Ciudad</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button expand="full">Obtener</ion-button>

  <div class="ion-text-center">
    <h2>Ciudad:</h2>
    <p>Temperatura:</p>
    <p></p>
  </div>
</ion-content>
